@model IEnumerable<LoanComparer.Data.Models.AdminHomeModel>
@{
    ViewBag.Title = "Index";
}

<div class="container mt-72">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title green">Loan Provider</h3>
                    </div>

                    <div class="panel-body">
                        <h4>@ViewBag.stat.Min</h4>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <table id="myTable" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Company</th>
            <th scope="col">LoanType</th>
            <th scope="col">Unique visit</th>
            <th scope="col">Number of visit</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var visit in Model)
        {
            <tr>
                <td>@visit.CompanyName</td>
                <td>@visit.LoanType</td>
                <td>@visit.UniqueVisit</td>
                <td>@visit.Visits</td>
            </tr>
        }




        </tbody>
    </table>
</div>

