@model LoanComparer.App.Models.ManageUserViewModel
@{
    ViewBag.Title = "GetUserRole";
}

    <div class="container mt-72">
        @if (ViewBag.Error != null)
        {
            <p class="alert alert-danger">@ViewBag.Error </p>
        }
        @Html.ActionLink("Create user role", "CreateUserRole") | @Html.ActionLink("All roles", "Index")
        <hr />
        <h3 class="pb-20">Find user role</h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group pb-20">
                <div class="col-md-2 control-label">
                    <label for="email">Email</label>
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <input type="submit" value="Find" class="btn btn-success btn-submit" />
        }

        @if (ViewBag.Data != null)
        {

            <h4 class="mb-20" style="margin-top: 20px">Roles for this user </h4>
            <ol>
                @foreach (string role in ViewBag.Data)
                {
                    <li>@role</li>
                }
            </ol>

        }

    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}